<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<context id="DB2Tables" targetRuntime="MyBatis3">
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/world?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=true"
			userId="wdeqin" password="wdeqin">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="com.github.wdeqin.flyit.data.model"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.github.wdeqin.flyit.data.xml"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.github.wdeqin.flyit.data.dao" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<table schema="world" tableName="city" domainObjectName="City"
			enableInsert="true" enableSelectByPrimaryKey="true"
			enableSelectByExample="false" enableUpdateByPrimaryKey="true"
			enableDeleteByPrimaryKey="true" enableDeleteByExample="false"
			enableCountByExample="false" enableUpdateByExample="false" modelType="flat" />

		<table schema="world" tableName="dev_seq_t" domainObjectName="Seq"
			enableInsert="false" enableSelectByPrimaryKey="true"
			enableSelectByExample="false" enableUpdateByPrimaryKey="true"
			enableDeleteByPrimaryKey="false" enableDeleteByExample="false"
			enableCountByExample="false" enableUpdateByExample="false" modelType="flat" />

	</context>
</generatorConfiguration>